@import "compass/css3";
@import "compass/utilities";
@import 'mixins'; 


.sh-info{
	padding: 15px 30px;
	padding-bottom: 0;
	background:#fff;
	margin-bottom: -5px;
	@include pie-clearfix;
	&-inner{ 
		position: relative;
		width: 100%; 
		height: 116px;
		background:url(top-bn.jpg) -20px center no-repeat;
	}
	// 	&:before{
	// 		@include before;
	// 		height: 15px;
	// 		left: 0;
	// 		top: 0px;
	// 		background:url(border.png) 0 center repeat-x;
	// 	}
	// 	&:after{
	// 		@include before;
	// 		background:url(border.png) 0 center repeat-x;
	// 		left: 0;
	// 		bottom:  0px;
	// 		height: 15px;
	// 	}
	// }  
	// &__item{
	// 	padding-left: 70px;
	// 	text-transform: uppercase;
	// 	@include family;
	// 	font-size: 16px;
	// 	color: #444343;
	// 	font-weight: bold; 
	// }
}

.sh-tabs .carousel-item{
	// height: 450px;
	float: left;  
	.product{
		// width: 260px;
		border-left: 0;
		border-right: 1px solid #ebebeb;
		height: 285px;
	}
} 

.sh-tabs__content_content{
	height: 316px;
	overflow: hidden; 
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	position: relative;
	z-index: 1;
	.sh-tabs__name{
	&:hover{
		.car-next-prev.prev{
			left: 0;
			opacity: 1;
			visibility: visible;
		}

		.car-next-prev.next{
			right: 0;
			visibility: visible;
			opacity: 1;
		}

	}}
}

.car-next-prev{
	position: absolute;
	// @include transition-property(left, right);
	// @include transition-duration(0.4s, 0.4s);
	// @include transition-timing-function(ease, ease);
	@include transition(all 0.5s ease);
	height: 41px;
	width: 41px;
	background:url(scroll.png) 0 0;
	top: 50%;
	left:-80px;
	margin-top: -20px;
	visibility: hidden;
	opacity: 0;
	&:hover{
		opacity: 0.6 !important;
	}
	// &:hover{
	// 	background-position: 0 -41px;
	// }
	&.next{
		left: auto;
		right: -80px;
		opacity: 0;
		visibility: hidden;
		background-position: -41px 0;
		// &:hover{
		// 	background-position: -41px -41px;
		// }
	}
}

.sh-tabs{
	padding: 20px 0;
	&__header{
		margin-bottom: 25px;
	}
}

.sh-tabs__header_headline {
  color: #7f7f7f;
  display: inline-block;
  font-size: 32px;
  margin-right: 10px;
}

.sh-tabs__header_all {
  color: #92d256;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  &:hover{
  	text-decoration: none;
  }
}

.sh-tabs__name{
	width: 100%;
	height: 100%;
	@include transition(all o.7s ease);
	position: absolute;
	opacity: 0;
	visibility: hidden; 
	&.active{
		opacity: 1;
		visibility: visible;
	}
}

.sh-tabs__tab {
background: url("tab.png") repeat-x scroll 0 0 #ffffff;
  color: #737373;
  font-size: 14px;
  padding: 7px 17px 8px;
  text-decoration: none !important;
  float: left;
 border: 1px solid #ebebeb;
	font-weight: bold;
  position: relative;
  margin-bottom: -1px;
  &:first-child{
  	// margin-left: 10px;
  	border-right: none;
  }
  &:hover{
  	text-decoration: none !important;
  }   
  &.active{
  	background:#fff;
  	z-index: 3;  
  	color: #000;
  	// box-shadow: -1px -1px 2px #444;  
  	// padding-bottom: 10px;
  	// margin-bottom: -4px;
  	border-bottom: 1px solid #fff;
  }
}
 
.sh-tabs__content_actions{
	margin-bottom: 0px;
	z-index: 3;
	@include pie-clearfix;
	// border-bottom: 2px solid #808080;
	// padding-bottom: 5px;
	position: relative;
	// padding-bottom: 12px;
	// padding-top: 5px;
	// overflow: hidden;  
	// border-bottom: 1px solid #ddd;
	// margin-bottom: 15px;
}

.sh-tabs__content_content.review-block {
  border: 1px solid #404040;
  border-radius: 10px;
  height: auto;
  padding: 20px;
}

.sh-reviews{
	&__item{
		margin-bottom: 15px;
		padding-bottom: 10px;
		border-bottom: 1px dotted #ddd;
		&:last-child{
			border-bottom: none;
			margin-bottom: 0;
		}
		&_meta{
			@include pie-clearfix;
			margin-bottom: 10px;

		}
		&_content{
			color: #b6afc0;
		}
	}&-stars{
				float: right;
						// margin-top: ;
						margin-right: 15px;
			}
}	

.toproduct{
	font-style: italic;
	color:#444343;
}

.about-block{
	@include pie-clearfix;
	border: none;
	margin-top: -10px;
	height: auto;
}		
.about-text{
	width: 55%;
	float: left;
	font-size: 13px;
	color: #656565;
	padding-top: 20px;
	p{
		margin-bottom: 10px;
	}
}

.about-img{
	float: right;
	width: 40%;
	text-align: center;
	&__headline{
		// margin-top: -10px;
		font-weight: bold;
		color: #e76f93;
		margin-bottom: 10px;
	}
}

.sh-banner{
	margin-bottom: 30px;
	@include pie-clearfix;
	&__item{
		margin-left: 20px;
		width: 500px;		
		position: relative;
		float: left;
		height: 260px;
		@include transition(all 0.5s ease);
		&:first-child{
			margin-left: 0;

		}
		// &:hover{
		// 	box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.2) inset;
		// }

	}
}

.info-block-wrapper{
	padding: 20px 40px;
	background:#fff;
	overflow: hidden;
}

.info-block{
	margin-bottom: 20px;
	@include pie-clearfix;
	padding:10px 24px 5px;
	border-radius:5px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 0 1px  #ccc;
	&__text{
		float: left;
		width: 300px;
		&_headline{
			color: #92d256;
			font-weight: bold;  
			font-size: 15px;
		}
		&_text{
			color: #c2c6c7;
			font-weight: bold;
			font-size: 12px; 
		}
	}

	&__img{
		float: right;
		width: 500px;
	}
}

.filter-wrap h2, .main-content-sidebar-box-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.filter-wrap  {
  // font-size: 16px;
  margin-bottom: 10px;
}

.property-wrap{
	margin-bottom: 35px;
}

.price-range{
	overflow: hidden;
	margin-bottom: 10px;
}

.price-range .max-price{
	float: right;
}

#body{


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: url("price.png") center center;
  border:none;
 
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.6em;
  top: 0.3em;

}

.ui-slider-horizontal {
  height: 2px;
}
  
.ui-widget-content {
  background: none repeat scroll 0 0 #dddddd;
  border: medium none;
  color: #222222;
  position: relative;
}

.ui-slider .ui-slider-range {
  background: none repeat scroll 0 0 #c60203;
  border: 0 none;
  display: block;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
}

.ui-slider-horizontal .ui-slider-handle:after {
  background: none repeat scroll 0 0 #877272;
  content: "";
  height: 13px;
  position: absolute;
  right: 7px;
  top: -13px;
  width: 1px;
}


// .ui-widget-content:before {
//   background: none repeat scroll 0 0 #dddddd;
//   content: "";
//   height: 10px;
//   left: 0;
//   position: absolute;
//   top: -7px;
//   width: 1px;
// }
// .ui-widget-content:after {
//   background: none repeat scroll 0 0 #dddddd;
//   content: "";
//   height: 10px;
//   right: 0;
//   position: absolute;
//   top: -7px;
//   width: 1px;
// }
 
}
 
.filter-wrap a {
  color: #444343;
  padding: 2px 2px 2px 20px;
  background:url(filtr.png) 0 0 no-repeat;
  &:hover{
  	text-decoration: none;
  }
  &.active{
  	background-position:0 -18px ;
  	text-decoration: none;
  }
}
 

 #characteristics > input[type="button"] {
  background: none repeat scroll 0 0 #cccccc;
  border: medium none;
  border-radius: 2px;
  box-shadow: 0 0 2px #dddddd;
  color: #444343;
  cursor: pointer;
  padding: 3px;
  &:hover{
  	background-color: #ddd;
  }
}

.product{
	position: relative;
}

.yar-discount {
  color: #e00f54;
  font-size: 24px;
  font-weight: bold;
  left: 33px;
  position: absolute;
  text-shadow: 0 0 1px #a69d9d;
  top: 65px;
-webkit-transform: rotate(-21deg);
-ms-transform: rotate(-21deg);
-o-transform: rotate(-21deg);
transform: rotate(-21deg);
 
}

.yar-new{
	background:url(new.png) center center no-repeat;
	 z-index: 888;
	   position: absolute;
	     top: 46px;
	     right: 40px;
	     height: 52px;
	     width: 52px;
}

.product-small {
	.yar-new{
		top: 26px;
	}

	.yar-discount {
		top: 45px;
	}
}

.product_image {

  margin-top: 45px;

}

.product_info H1{
	margin-left: -292px;
}

.rating-product{
	display: inline-block;
	margin-left: 10px;
	float: none;
	vertical-align: middle;
	margin-top: -5px;
}

.product_info .form_table{
	background: none;
}
.product_info .product_form{
	width: 100%;
}

.product-sku-zone {
  font-size: 110%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.product_info .price_place .old_price{
	margin-left: 0;
	margin-right: 15px;
	font-weight: normal;
}

.product_info .price_place{
	padding: 0;
}

.product-price-zone {
  margin-bottom: 15px;
}

.product_info .product_variant .selector-wrapper LABEL{
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.product_variant select{
	width: 120px;
	display: inline-block;
	vertical-align: middle;
}

.product_info .product_variant .selector-wrapper {
  float: left;
  margin: 0 10px 0px 0;
  width: 236px;
}

.product_info .product_variant{
	border: none;
	padding: 0;
}

.sh-banner__text_headline {
  color: #a83f67;
  font-size: 50px;
  padding: 16px;
}
.sh-banner__text_items_item {
  color: #3e3e3e;
  display: inline-block;
  font-size: 17px;
  margin-bottom: 10px;
  text-shadow: 0 0 2px #c69f9f;
}

.sh-banner__text_items {
  max-width: 340px;
  padding: 10px;
}   


.header{

.nav .sub1 LI .sub2{
	top: -13px;
}

.nav .sub1 LI:hover .sub2{
	left: 240px;
}

.nav .sub_items A{
	border-bottom: 1px solid #e5e5e5;
}

.nav .sub_items LI{
	border: none;
	padding: 0 20px;
}

.nav .sub1 li a{
padding: 5px 0px 2px 4px;
}


.nav .sub1 li:hover > span >  a, .nav .sub1 li.active > span >  a{
	color: #fff !important;
	background-color: #DC809C;
}

.nav .sub2 li:hover >   a, .nav .sub2 li.active >  a{
	color: #fff !important;
	background-color: #DC809C;
}

.nav .sub_items{
	padding: 12px 0;
}

.nav .sub_items{
	width: 240px;
}


}
.sh-hidden{
	display: none;
}

.info-block__img > img {
  margin-bottom: 5px;
}


.header_middle .logo {
  float: left;
  margin-left: -12px;
  margin-top: 2px;
}

.logo > img, .logo img {
  max-width: 280px;
}

.header_middle .utp{
	width: 240px;
	white-space: nowrap;
}

.header_middle .cart A{
	white-space: nowrap;
}

.header_middle .bigphone {
  color: #606060;
  float: right;
  font-size: 26px;
  padding: 0 10px;
  // width: 192px;
  white-space: nowrap;
}

.header_middle .cart_top {
  margin-top: 18px;
  right: 40px;
  top: 19px;
  width: 235px;
}